* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.login-container {
    width: 300px;
    height: 200px;
    background-color: #8DEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px black;
    line-height: 2.5;
    padding: 10px;
}

input {
    border: 2px solid silver;
    border-radius: 8px;
    padding: 8px;
}

button {
    border-radius: 8px;
    padding: 8px;
    background-color: #3498db;
}

button:hover {
    background-color: #8DEEEE;
}

a:hover {
    background-color: azure;
}

